<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @phone_n_umber.number %>
</p>

<p>
  <strong>Person:</strong>
  <%= @phone_n_umber.person_id %>
</p>

<%= link_to 'Edit', edit_phone_n_umber_path(@phone_n_umber) %> |
<%= link_to 'Back', phone_n_umbers_path %>
